# Configurações e senhas
.env.php
.env
db.php
config.php
api_supabase/config.php
vpsistema.com/public_html/api/db.php
vpsistema.com/public_html/api/config.php

# Dependências
vendor/
node_modules/
dist/

# Lixo
.trash/
*.log
*.crdownload
